/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2022, 12:02:47 AM
    Author     : TIM
*/
.m-0auto{
    margin: 0 auto;
}
.login-page, .register-page{
    max-width: 50%;
    margin: 0 auto;
}